.boundary {
    background-color: #0088cc;
    position: absolute;
}

#b1 {
    height: 46px;
    width: 4px;
    top: 95px;
    left: 91px;
}

#b2 {
    height: 87px;
    width: 17px;
    top: 193px;
    left: 53px;
}

#b3 {
    height: 26px;
    width: 229px;
    top: 150px;
    left: 66px;
}

#b4 {
    height: 49px;
    width: 24px;
    top: 293px;
    left: 60px;
}

#b5 {
    height: 6px;
    width: 7px;
    top: 336px;
    left: 53px;
}

#b6 {
    height: 63px;
    width: 15px;
    top: 230px;
    left: 69px;
}

#b7 {
    height: 56px;
    width: 115px;
    top: 174px;
    left: 66px;
}

#b8 {
    height: 20px;
    width: 20px;
    top: 0px;
    left: 0px;
}

#b9 {height: 20px;
    width: 20px;
    top: 0px;
    left: 0px;
}

#b10 {
    height: 20px;
    width: 20px;
    top: 0px;
    left: 0px;
}

#b11 {
    height: 20px;
    width: 0px;
    top: 0px;
    left: 0px;
}

#b12 {
    height: 20px;
    width: 0px;
    top: 0px;
    left: 0px;
}

#b13 {
    height: 20px;
    width: 0px;
    top: 0px;
    left: 0px;
}

#b14 {
    height: 20px;
    width: 0px;
    top: 0px;
    left: 0px;
}

#b15 {
    height: 20px;
    width: 0px;
    top: 0px;
    left: 0px;
}

#b16 {
    height: 20px;
    width: 0px;
    top: 0px;
    left: 0px;
}

#b17 {
    height: 20px;
    width: 0px;
    top: 0px;
    left: 0px;
}

#b18 {
    height: 20px;
    width: 0px;
    top: 0px;
    left: 0px;
}

#b19 {
    height: 20px;
    width: 0px;
    top: 0px;
    left: 0px;
}

#b20 {
    height: 20px;
    width: 0px;
    top: 0px;
    left: 0px;
}