/*
* Colors
* #737373
* #F27324
*/

* {
    box-sizing: border-box;
}

#game {
    position: relative;
    width: 729px;
    height: 430px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.level1 {
    background-image: url('../img/level_bg.png');
    border: rgba(7, 2, 1, 0.3) 1px solid;
    height: 430px;
}

.gameLevelVisual {
    position: absolute;
}

#mazeContainer {
    top: 25px;
    left: 15px;
    width: 450px;
    height: 370px;
    cursor: url('../img/cursor.gif'), auto;
}

#message {
    top: 25px;
    right: 25px;
    width: 215px;
    height: 160px;
}

#timer {
    top: 206px;
    border-radius: 100%;
    right: 143px;
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 3px;
}

#timerDigits > span {
    color: #F27324;
    font-size: 25px;
    position: relative;
    right: 3px;
    border-bottom: solid 2px black;
    border-top: solid 2px #000000;
}

#entryTally {
    top: 270px;
    border-radius: 100%;
    right: 28px;
    width: 120px;
    height: 120px;
    text-align: center;
    padding-top: 3px;
}

#tally {
    color: #F27324;
    font-size: 36px;
}

#startArea {
    border-radius: 2px;
    /*background-color: #DAF2FA;*/
    width: 50px;
    height: 25px;
    top: 33px;
    left: 16px;
    position: absolute;
}

#finishArea {
    width: 6px;
    height: 18px;
    top: 68px;
    left: 397px;
    position: absolute;
}

#start {
    color: #737373;
    z-index: 100;
    position: absolute;
    left: 10px;
    top: 5px;
    vertical-align: middle;
    text-align: center;
}

#finish {
    color: #737373;
    position: absolute;
    right: 50px;
    top: 29px;
    vertical-align: middle;
    text-align: center;
}

#loadingImage {
    position: absolute;
    align-self: center;
    width: 44px;
    height: 44px;
    display: none;
    left: 50%;
    margin-left: -22px;
    top: 215px;
}