/*
* Colors
* #737373
* #F27324
*/

* {
    box-sizing: border-box;
}

#game {
	position: relative;
	width: 729px;
	height: 430px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.gameLevelVisual {
	position: absolute;
}

#mazeContainer {
	top: 25px;
	left: 15px;
	width: 450px;
	height: 370px;
}

#message {
    top: 25px;
    right: 26px;
    width: 215px;
    height: 160px;
    border-radius: 6px;
    padding: 6px;
}

#timer {
	top: 210px;
	border-radius: 100%;
	right: 145px;
	width: 100px;
	height: 100px;
	text-align: center;
	padding-top: 3px;
}

#timerDigits > span {
    color: #F27324;
    font-size: 25px;
    position: relative;
    right: 3px;
    border-bottom: solid 2px black;
    border-top: solid 2px #000000;
}

#entryTally {
	top: 270px;
	border-radius: 100%;
	right: 28px;
	width: 120px;
	height: 120px;
	text-align: center;
	padding-top: 3px;
}

#tally {
	color: #F27324;
	font-size: 36px;
}

#startArea {
    border: 1px black;
    width: 55px;
    height: 30px;
    top: 30px;
    left: 15px;
    position: absolute;

}