.messageButton {
    background-color: #F27324;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin:auto;
}

.message {
    background-color: #004f76;
    color: white;
    text-align: center;
    position: relative;
    width: 215px;
    height: 160px;
    font-size: 10px;
    padding:10px;
}

.bigMessage {
    width: 729px;
    height: 430px;
    font-size: 30px;
    padding:20px;
}

h5{
    font-size: 15px;
    margin-top: 1px;
}

h4 {
    font-size: 20px;
    margin-bottom: 1px;
}

h3 {
    font-size: 25px;
}

h2 {
    font-size: 40px;
}
