.popUp {
    background-color: #004f76;
    color: white;
    text-align: center;
    border-radius: 6px;
    border: solid #ffffff 3px;
    padding: 10px;
    width: 215px;
    height: 160px;
    font-size: 10px;
    position: relative;
}

.messageTitle {
    font-size: 20px;
}

.subtitle {
    font-size: 15px;
}

.popBut {
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}

.buttons {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
}

.popBig {
    background-color: #004f76;
    color: white;
    text-align: center;
    border-radius: 6px;
    border: solid #ffffff 3px;
    padding: 10px;
    margin: 10px;
    width: 729px;
    height: 430px;
    font-size: 30px;
    position: relative;
}

.bigTitle {
    font-size: 50px;
}