
.err {
    display: none;
    position: absolute;
    background-color: #b94a48;
    right: 0;
}

#splashbackground {
    position: relative;
    height: 100%;
    background-image: url("../img/form_background.png");
}

#form {
    position: absolute;
    top: 140px;
    left: 30px;
    z-index: 5;
    color: #004f76;
}

[type = text],
[type = email] {
    width: 300px;
    height: 25px;
    margin-bottom: 40px;
}

#submit {
    background-color: #F27324;
    width: 100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

#winText {
    position: absolute;
    top: 150px;
    left: 460px;
    font-size: 70px;
    color: #F27324;
}

#prizeText {
    position: absolute;
    top: 218px;
    left: 460px;
    font-size: 17px;
    color: #004f76;
    text-align: center;
    font-weight: bold;
}

#welcomeBack {
    font-size: 37px;
    position: absolute;
    bottom: 230px;
    font-weight: bold;
    color: #004f76;
}

#err1 {
    height: 20px;
    top: 41px;
}

#err2 {
    top: 122px;
    height: 35px;
}

#err3 {
    height: 20px;
    top: 41px;
    padding: 3px;
}

#err4 {
    height: 40px;
    top: 41px;
    padding: 3px;
}

.err {
    position: absolute;
    background-color: #004f76;
    color: #ffffff;
    width: 120px;
    text-align: center;
    border-radius: 6px;
    right: 5px;
    padding-bottom: 3px;
}


