
.err {
    display: none;
    position: absolute;
    background-color: #b94a48;
    right: 0;
}

#splashbackground {
    position: relative;
    height: 100%;
    background-image: url("../img/form_background.png");
}

#form {
    position: absolute;
    top: 140px;
    left: 30px;
    z-index: 5;
    color: #004f76;
}

[type = text],
[type = email] {
    width: 300px;
    height: 25px;
    margin-bottom: 40px;
}

#submit {
    background-color: #F27324;
    width: 100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

#winText {
    position: absolute;
    top: 150px;
    left: 460px;
    font-size: 70px;
    color: #F27324;
    font-weight: 100;
}

#prizeText {
    position: absolute;
    top: 218px;
    left: 460px;
    font-size: 17px;
    color: #004f76;
    text-align: center;
    font-weight: bold;
}

#welcomeBack {
    font-size: 37px;
    position: absolute;
    bottom: 230px;
    font-weight: bold;
    color: #004f76;
}

#err1 {
    height: 20px;
    top: 41px;
}

#err2 {
    top: 122px;
    height: 35px;
}

#err3 {
    height: 20px;
    top: 41px;
    padding: 3px;
}

#err4 {
    height: 40px;
    top: 41px;
    padding: 3px;
}

#connectionError {
    position: absolute;
    background-color: #004f76;
    color: #ffffff;
    width: 325px;
    height: 200px;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    left: 25px;
    top: 100px;
    padding: 80px 30px 70px 30px;
    z-index: 9999;
}

.err {
    position: absolute;
    background-color: #004f76;
    color: #ffffff;
    width: 120px;
    text-align: center;
    border-radius: 6px;
    right: 5px;
    padding-bottom: 3px;
}

#snow1 {
    background: none;
    background-image: url('../img/snow1.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}

#snow2 {
    background: none;
    background-image: url('../img/snow2.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}

#snow3 {
    background: none;
    background-image: url('../img/snow3.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: snow 15s linear infinite;
    -moz-animation: snow 15s linear infinite;
    -ms-animation: snow 15s linear infinite;
    animation: snow 15s linear infinite;
}

#snow4 {
    background: none;
    background-image: url('../img/snowmed2.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: snow 18s linear infinite;
    -moz-animation: snow 18s linear infinite;
    -ms-animation: snow 18s linear infinite;
    animation: snow 18s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
        opacity: 0;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
        opacity: 1;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
        opacity: 0;
    }
}

@-moz-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
        opacity: 0;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
        opacity: 1;
    }
    100% {
        background-position: 400px 1000px, 200px 400px, 100px 300px;
        opacity: 0;
    }
}

@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
        opacity: 0;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
        opacity: 1;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
        opacity: 0;
    }
}

@-ms-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
        opacity: 0;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
        opacity: 1;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
        opacity: 0;
    }
}

.ie8 .snow {
    display: none;
}
