<div id="success" class="message">
    <h4>You did it!</h4>
    <h5>Click the 'Start' area to continue playing.</h5>
        <input type="button" value="Quit Game" class="quit buttons messageButton">
</div>

<div id="endOfGame" class="message bigMessage">
    <h2>Congratulations!!</h2>
    <h3>You finished the game!</h3>
    <h3>You completed it in a time of: <!-- --></h3>
    <h3>It took you a total of <!-- --> attempts!</h3>
    <h3>Your results have been submitted, to play again click 'Restart'!</h3>
        <input type="button" value="Restart" class="loadLevel messageButton">
        <input type="button" value="Quit Game" class="quit messageButton">
</div>

<div id="died" class="message">
    <h4>Uh-oh, you touched the sides!</h4>
    <h5>Click start to try again</h5>
        <input type="button" value="Quit Game" class="quit messageButton">
</div>

<div id="smallInstructions" class="message">
    <h4>Instructions</h4>
        <input type="button" value="Open" class="expand messageButton">
</div>

<div id="instructions" class="message bigMessage">
    <h2>Instructions</h2>
    <h3>Follow the path with your mouse cursor to make it to the safe zone. Try to complete it as fast as possible with as few attempts as possible. Hide the instructions and click 'Start' to begin.</h3>
        <input type="button" value="Hide Instructions" class="close messageButton">
</div>