<div id="success" class="popUp">
    <span class="messageTitle">You did it!</span><br><br><br>
    <span class="subtitle">Click the 'Start' area to continue playing.</span><br>
    <div class="buttons">
        <input type="button" value="Quit" class="quit popBut">
    </div>
</div>

<div id="endOfGame" class="popBig">
    <span class="bigTitle">Congratulations!!</span><br><br>
    <span class="bigSubtitle">You finished the game!</span><br><br>
    You completed it in a time of: <!-- --><br>
    It took you a total of <!-- --> attempts!<br><br>
    Your results have been submitted, to play again click 'Restart'!
    <div class="buttons">
        <input type="button" value="Restart" class="loadLevel popBut">
        <input type="button" value="Quit" class="quit popBut">
    </div>
</div>

<div id="died" class="popUp">
    <span class="messageTitle">Uh-oh, try again!</span><br><br><br>
    <span class="subtitle">You touched the sides!</span><br><br>
    Click the 'Start' area to attempt the level again.
    <div class="buttons">
        <input type="button" value="Quit" class="quit popBut">
    </div>
</div>

<div id="smallInstructions" class="popUp instructions">
    <br><br><br><br>
    <span class="messageTitle">Instructions</span><br><br>
    <div class="buttons">
        <input type="button" value="Open" class="expand popBut">
    </div>
</div>

<div id="instructions" class="popBig instructions">
    <span class="bigTitle">Instructions</span><br><br>
    Move your mouse through the maze to 'Finish' without touching the white zone. Try to complete it as fast as possible with as few attempts as possible. Click 'Start' to begin.
    <div class="buttons">
        <input type="button" value="Close And Play" class="close popBut">
    </div>
</div>