<!--copied into gameLogic.js, now stored in variable completedLevelMessage-->
<div class="message">
    <h4>You did it!</h4>
    <h5>Click the 'Start' area to continue playing.</h5>
    <div class="button">
        <input type="button" value="Quit Game" class="quit messageButton">
    </div>
</div>

<div class="message bigMessage">
    <h2>Congratulations!</h2>
    <h3>You finished the game!</h3>
    <h3>You completed it in a time of: <!-- --></h3>
    <h3>It took you a total of <!-- --> attempts!</h3>
    <h3>Your results have been submitted, to play again click Restart!</h3>
    <div class="button">
        <input type="button" value="Restart" class="messageButton">
        <input type="button" value="Quit Game" class="quit messageButton">
    </div>
</div>

<div class="message">
    <h4>Uh-oh, you touched the sides!</h4>
    <h5>Click start to try again</h5>
    <div class="button">
        <input type="button" value="Quit Game" class="quit messageButton">
    </div>
</div>

<div class="message">
    <h4>To see the Instructions</h4>
    <h5>Click the Open button</h5>
    <div class="button">
        <input type="button" value="Open" class="messageButton">
    </div>
</div>

<div class="message bigMessage">
    <h2>Instructions</h2>
    <h3>Follow the path with your mouse cursor to make it to the safe zone.</h3>
    <h3>Try to complete it as fast as possible with as few attempts as possible.</h3>
    <h3>Hide the instructions and click 'Start' to begin.</h3>
    <div class="button">
        <input type="button" value="Hide Instructions" class="messageButton">
    </div>
</div>