<div id="splashbackground">
    <div id="form">
        <form method="POST" action="api/">
            Name (required)<br>
            <input id="userName" type="text" name="userName">
            <br>
            Email address (required)<br>
            <input id="userEmail" type="email" name="userEmail">
            <br>
            <input type="submit" value="PLAY" id="submit">
        </form>
    </div>
    <div id="winText">
        WIN
    </div>
    <div id="prizeText">
        &pound;100 of Amazon <br> vouchers
    </div>
</div>
