<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/splash.css" type="text/css">
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/splash.js"></script>
</head>
<body>
<form action="">
<input type="text" name="userName" id="userName">
<input type="text" name="userEmail" id="userEmail">
<input type="submit" id="submit" value="Play">
</form>
</body>
</html>